accelerate==0.29.2
annoy==1.17.3
asposestorage==1.0.2
cryosparc_tools==4.4.1
lmdb==1.6.2
matplotlib==3.8.4
mrcfile==1.5.0
munkres==1.1.4
natsort==8.4.0
numba==0.59.1
numpy==2.3.0
opencv_python==4.9.0.80
pandas==2.3.0
Pillow==9.4.0
Pillow==11.2.1
pyFFTW==0.13.1
scikit_learn==1.4.2
scipy==1.15.3
seaborn==0.13.2
setuptools==69.5.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.2
